<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_visit %><br>
    <%= f.text_field :date_of_visit %>
  </div>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.select :pet_id, options_for_select(@pets)%>
  </div>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.select :customer_id, options_for_select(@customers) %>
  </div>

  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.select :doctor_id, options_for_select(@doctors) %>
  </div>



  <div class="field">
    <%= f.label :requires_remainder %><br>
    <%= f.text_field :requires_remainder %>
  </div>

  <div class="field">
    <%= f.label :reason_for_visit %><br>
    <%= f.text_area :reason_for_visit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
