<p id="notice"><%= notice %></p>

<p>
  <strong>Date of visit:</strong>
  <%= @appointment.date_of_visit %>
</p>


<p>
  <strong>Pet:</strong>
  <%= @appointment.pet.name %>
</p>


<p>
  <strong>Customer:</strong>
  <%= @appointment.customer.name %>
</p>


<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name %>
</p>


<p>
  <strong>Requires remainder:</strong>
  <%= @appointment.requires_remainder %>
</p>


<p>
  <strong>Reason for visit:</strong>
  <%= @appointment.reason_for_visit %>
</p>



<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
